@charset "utf-8";

*{
    font-family: 'Times New Roman', Times, serif
}
body{
    animation: 3s ease-in 1s infinite reverse both running slidein;
    background-image: linear-gradient(to right, #BDBF80, #F0F2A7, #A6A272, #BF702A 50%, #734124 90%);
   
}
main{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(197, 92, 31);
    width: 600px;
    padding: 10px;
    margin: auto;
    text-indent: 0%;
}
h1{
    color: #BF702A;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    
    
}
h2{
    color: #734124;
    text-align: justify;
}
p{
    text-align: justify;
    
}
